@import "../variables";

.hero {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
	gap: 10px;

    &__box {
        padding: 20px 17px 18px;
        width: 393px;
        height: 382px;
        background-color: $main-gray;
        border-radius: 15px;
        
	    &:hover {
		    cursor: pointer;
        }
        
        &--title {
            margin: 0;
        }

        &--link {
            text-decoration: none; 
            font-family: 'Rubik';
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }

        &--text {
            margin-top: 10px;
            margin-bottom: 15px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #4A4B4C;
        }

        &--end {
            margin-top: 15px;
            display: flex;
            align-items: center;
        }
    
        &--source {
            margin-left: 10px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #5E5F61;    
        }
    }    
}